
.fscch-down-open:before { content: '\e800'; } /* '' */
.fscch-left-open:before { content: '\e801'; } /* '' */
.fscch-right-open:before { content: '\e802'; } /* '' */
.fscch-up-open:before { content: '\e803'; } /* '' */
.fscch-down-open-mini:before { content: '\e804'; } /* '' */
.fscch-left-open-mini:before { content: '\e805'; } /* '' */
.fscch-right-open-mini:before { content: '\e806'; } /* '' */
.fscch-up-open-mini:before { content: '\e807'; } /* '' */
.fscch-down-open-big:before { content: '\e808'; } /* '' */
.fscch-left-open-big:before { content: '\e809'; } /* '' */
.fscch-right-open-big:before { content: '\e80a'; } /* '' */
.fscch-up-open-big:before { content: '\e80b'; } /* '' */
.fscch-youtube:before { content: '\e80c'; } /* '' */
.fscch-twitter:before { content: '\e80d'; } /* '' */
.fscch-instagram:before { content: '\e80e'; } /* '' */
.fscch-facebook:before { content: '\e80f'; } /* '' */
.fscch-vk:before { content: '\e810'; } /* '' */
.fscch-eye:before { content: '\e811'; } /* '' */
.fscch-eye-off:before { content: '\e812'; } /* '' */
.fscch-search:before { content: '\e813'; } /* '' */
.fscch-user:before { content: '\e814'; } /* '' */
.fscch-cancel:before { content: '\e815'; } /* '' */