
.hm-eye:before { content: '\e800'; } /* '' */
.hm-eye-off:before { content: '\e801'; } /* '' */
.hm-cancel:before { content: '\e802'; } /* '' */
.hm-forward:before { content: '\e803'; } /* '' */
.hm-zoom-in:before { content: '\e804'; } /* '' */
.hm-zoom-out:before { content: '\e805'; } /* '' */
.hm-print:before { content: '\e806'; } /* '' */
.hm-emo-happy:before { content: '\e807'; } /* '' */
.hm-download:before { content: '\e808'; } /* '' */
.hm-left-big:before { content: '\e809'; } /* '' */
.hm-right-big:before { content: '\e80a'; } /* '' */
.hm-resize-full-alt:before { content: '\f0b2'; } /* '' */
.hm-reply:before { content: '\f112'; } /* '' */