.backtop {
	width: 3.5rem;
	height: 3.5rem;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	outline: none;
	opacity: 1;
	transition: opacity 0.3s ease-in 0s;
	color: #D49967;

	&:focus {
		outline: none;
	}
	&.hide {
		opacity: 0;
	}
}
