.breadcrumbs__item {
    a {
        &::after {
            content: "/";
            padding-left: 1rem;
        }
    }

    &:last-child {
        a {
            &:after {
                content: "";
            }
        }
    }
}